{% load tag %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <link rel="stylesheet" href="/static/style.css"/>
    <title>Title</title>
</head>
<body>

<section id="cart-container" class="container">
<form method="GET" id="quantity_form" enctype="multipart/form-data">
    {% csrf_token %}
    <table width="100%">
        <thead>
        <tr>
            <td>Item Name</td>
            <td>Unit Quantity</td>
            <td>Unit Price</td>
            <td>Item Count</td>
            <td>Remove Item</td>
        </tr>
        </thead>
        <tbody>
            {% for quantified_item in user.cart.items.all %}
                <tr>
                    <td>
                        <h1>{{ quantified_item.item.itemName }}</h1>
                    </td>

                    <td>
                        <h1>{{ quantified_item.item.itemUnitQuantity }}</h1>
                    </td>

                    <td>
                        <h1>{{ quantified_item.item.itemPrice }}</h1>
                    </td>

                    <td>
                        <label>
                            <input id="{{ quantified_item.item.itemID }}" name="submit" type="number" form="quantity_form" min="1" max="{{ quantified_item.item.itemQuantity }}"
                                   value="{{ quantified_item.quantity }}"/>
                            <input type="hidden" value="{{ quantified_item.item.itemID }}" name="item_id">
                        </label>
                    </td>

                    <td>
{#                        <button class="button" name="delete" id="{{ quantified_item.item.itemID }}">Remove Item</button>#}
                        <a href="http://127.0.0.1:8000/remove_item/?product={{ quantified_item.item.itemID }}" class="disguised">Remove Item</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</form>
</section>
<br><br><br>
<h1><strong>Discount: </strong>0.00</h1>
<h1><strong>Delivery Charge: </strong>{{ user.cart.deliveryCharge }}</h1>
<h1><strong>Total Price: </strong>{{ user.cart.totalPrice|add:user.cart.deliveryCharge }}</h1>

{#<input type="submit" form="quantity_form" name="action" value="Update Price">#}
<input type="submit" form="quantity_form" name="action" value="Confirm Order">
<input type="submit" form="quantity_form" name="action" value="Update Cart">

<br><br><br>
<a href="http://127.0.0.1:8000/clear_cart/">Clear Cart</a>
<a href="http://127.0.0.1:8000">Home</a>
{% comment %} <!--{% block cart %}
        {% for item in user.cart.items.all %}
            <h1>{{ item.itemName }}</h1>
        #{% endfor %}


         <h1><strong>Delivery Charge: </strong>{{ user.cart.deliveryCharge }}</h1>
        <h1><strong>Total Price: </strong>{{ user.cart.totalPrice }}</h1>
   # {% endblock cart %}
-->
 {% endcomment %}
</body>
<script type="text/javascript">
    $(document).ready(function() {
        $("button").click(function(event) {
            if (event.target.name === "delete") {
                const id = event.target.id;
                location.href = "http://127.0.0.1:8000/remove_item/?product=" + event.target.id;
            }
        });
    });
</script>
</html>
