<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/style.css"/>
    <title>Title</title>
</head>
<body>
<section id="cart-container" class="container">
    <table width="100%">
        <thead>
        <tr>
            <td>Item Name</td>
            <td>Unit Quantity</td>
            <td>Item Price</td>
        </tr>
        </thead>
        <tbody>
            {% for item in user.cart.items.all %}
                <tr>
                    <td>
                        <h1>{{ item.itemName }}</h1>
                    </td>

                    <td>
                        <h1>{{ item.itemUnitQuantity }}</h1>
                    </td>

                    <td>
                        <h1>{{ item.itemPrice }}</h1>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</section>
<br><br><br>
<h1><strong>Discount: </strong>0.00</h1>
<h1><strong>Delivery Charge: </strong>{{ user.cart.deliveryCharge }}</h1>
<h1><strong>Total Price: </strong>{{ user.cart.totalPrice|add:user.cart.deliveryCharge }}</h1>

<br><br><br>
<a href="http://127.0.0.1:8000/clear_cart/">Clear Cart</a>
<a href="http://127.0.0.1:8000">Home</a>
{% comment %} <!--{% block cart %}
        {% for item in user.cart.items.all %}
            <h1>{{ item.itemName }}</h1>
        #{% endfor %}


         <h1><strong>Delivery Charge: </strong>{{ user.cart.deliveryCharge }}</h1>
        <h1><strong>Total Price: </strong>{{ user.cart.totalPrice }}</h1>
   # {% endblock cart %}
-->
 {% endcomment %}
</body>
</html>