{%  load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
     <link rel="stylesheet" href="/static/style.css"/>
</head>
<body>
    <div>
        <h1 class="bodyalign">WeeklyBazar</h1>

    </div>
    <div class="homepagealign">
     <a href="http://127.0.0.1:8000/cart">Cart</a>
             <a href="http://127.0.0.1:8000/login">Login</a>


    </div>
    <div class="bodyalign">
        {% block showItems %}
            <h2>Available Items</h2>
            <hr>
            <hr>
            {% for item in  items %}
                <img src="{{ item.itemImage.url }}" alt="">
                <p><strong>Item Name:</strong> {{ item.itemName }}</p>
                <p><strong>Item Type:</strong> {{ item.itemType }}</p>
                <p><strong>Item Price:</strong> {{ item.itemPrice }}</p>
                <p><strong>Item in Stock:</strong> {{ item.itemQuantity }}</p>
                <p><strong>Item Description:</strong></p>
                <p>{{ item.itemDescription|linebreaks }}</p>
                <button id="{{ item.itemID }}" class="button" name="add-to-cart">Add to Cart</button>
                <hr>
            {% endfor %}
        {% endblock showItems %}


    </div>
</body>
<script type="text/javascript">
    $(document).ready(function() {
        $("button").click(function(event) {
            if (event.target.name === "add-to-cart") {
                console.log(event.target.id);
                location.href = "http://127.0.0.1:8000/cart/?product=" + event.target.id;
            }
        });
    });
</script>
</html>