.homepagealign{
background-color:yellow;
 font-size: 40px;
 text-align:right;
}
.bodyalign{
    text-align:center;
}

/* Cart */
#cart-container table{
    border-collapse:collapse;
    width:100%;
    table-layout:fixed;

}
#cart-container table thead{
    font-weight: 200;
}
#cart-container table thead td{
    background: #fd8c66;
    color: #fff;
    border:none;
}
.container{

background-color:yellow;
 font-size: 20px;
 text-align:right;
}
.logincss{
    font-size:40px;
    text-align:center;
    background-color:orange;

}

.disguised {
  font: bold 11px Arial;
  text-decoration: none;
  background-color: #EEEEEE;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
}